[Unit]
Description=Add the Flathub Flatpak remote for the current user
ConditionPathExists=!%h/.local/share/flatpak/.flathub-initialized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/touch %h/.local/share/flatpak/.flathub-initialized

[Install]
WantedBy=default.target
